<%- include("_header") -%>

<h1>List of teams (<%= model.length %>)</h1>

<div class="table-responsive-sm">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th class="d-print-none">
          <a class="btn btn-sm btn-success" href="/teamcreate">Add</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <% for (const team of model) { %>
        <tr>
          <td><%= team.id %></td>
          <td class="d-print-none">
            <a class="btn btn-sm btn-success" href="/teamshow/<%= team.id %>"><%= team.name %></a>
            <a class="btn btn-sm btn-warning" href="/teamedit/<%= team.id %>">Edit</a>
            <a class="btn btn-sm btn-danger" href="/teamdelete/<%= team.id %>">Delete</a>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
  <form action="/teamupload" method="POST" enctype="multipart/form-data">
    <input type="file" name="upName">
    <input type="submit">
  </form>
</div>

<%- include("_footer") -%>