<%- include("_header") -%>

<h1>Detail record</h1>

<form action="/teamshow/<%= model.id %>" method="post">
  <div class="form-horizontal">

      
    <div class="form-group row">
        <label class="col-form-label col-sm-2" for="id">チームID: <%= model.id %></label>
    </div>      
    <div class="form-group row">
        <label class="col-form-label col-sm-2" for="name">チーム名: <%= model.name %></label>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-sm-2" for="name">試合数: <%= model.matches %></label>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-sm-2" for="name">勝利数: <%= model.wins %></label>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-sm-2" for="name">敗北数: <%= model.loses %></label>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-sm-2" for="name">引分数: <%= model.draws %></label>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-sm-2" for="name">総得点: <%= model.gpoints %></label>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-sm-2" for="name">総失点: <%= model.lpoints %></label>
    </div>      

    <div class="form-group row">
      <label class="col-form-label col-sm-2"></label>
      <div class="col-sm-10">
        <a class="btn btn-outline-dark cancel" href="/teams">Back</a>
      </div>
    </div>
  </div>
</form>

<%- include("_footer") -%>